%h1 Reset password
%p Enter your new password below
.form
  = form_for @customer, url: password_reset_path(params[:id]) do |f|
    .field
      %label
        New password
      = f.password_field :password
    .field
      %label
        Confirm new password
      = f.password_field :password_confirmation
    .field
      .actions= f.submit 'Update password'
