%h1 Send reset instructions
%p So you managed to forget your password? Please tell us your email.
.form
  -if flash.alert
    .notice
      = flash.alert
  = form_tag password_resets_path, method: :post do
    .field
      %label
        Your email
      = email_field_tag :email, params[:email]
    .field
      .actions= submit_tag 'Reset password'
