%h1 FAQ

.faq_form
  %form{:action => "/new", :method => "post"}
    %fieldset
      %label{:for => "question"} Question:
      %input{:name => "question", :type => "text", :value => "Write the question here"}/
      %label{:for => "answer"} Answer:
      %input{:name => "answer", :type => "text", :value => "Write the answer here"}/
    %button{:for => "button"} Save

.old_faqs
  - @faqs.each do |faq|
    = faq.question