= render 'shared/email_header'

#email-box
  %h1 Correction
  %p
    SimplyBetter site will stay open until
    %strong Oct 1st 2016
    (not Nov as previous mail stated)

  %h1 Because of lack of interest and time we are sorry to have to announce that Simplybetter is discontinued..
  %p
    We want to say 'thank you' to all the people that has been involved with the development and all the users that has tested and used SimplyBetter.
    The site will stay open until
    %strong Oct 1st 2016.
  %p
    If you really think SimplyBetter should continue or you need to use it after we close the site.. please feel free to contact us at support@simplybetter.io.
