@mixin rotate_widget($deg) {
  transform: rotate($deg);
  -ms-transform: rotate($deg); /* IE 9 */
  -webkit-transform: rotate($deg); /* Safari and Chrome */
}

#simplybetterActivateButton {
  position: fixed;
  right: -75px;
  bottom: -75px;
  height: 150px;
  width: 150px;
  z-index: 2000;
  background: url('/lightbulb_triangle.gif') no-repeat;
  background-size: contain;
  @include rotate_widget(45deg);

  &:hover{
    cursor: pointer;
  }

  span{
    top: 40px;
    left: 20px;
    @include rotate_widget(-45deg);
  }
}
