.alert{
  @mixin alert-overlay($color,$border-color){
    color: white;
    text-align: center;
    font-family: sans;
    position: absolute;
    background-color: $color;
    padding: 10px;
    left: 30%;
    right: 30%;
    top: 40%;
    opacity: 0;
    border-radius: 5px;
    border: 1px solid $border-color
  }

  .error-overlay{
    @include alert-overlay($red,$fuchsia);
  }

  .success-overlay{
    @include alert-overlay($olive, $green);
  }
}
