.alert{
  @mixin alert-overlay($color){
    color: white;
    text-align: center;
    font-family: sans;
    position: absolute;
    background-color: $color;
    padding: 10px;
    left: 30%;
    right: 30%;
    top: 40%;
    opacity: 0;
    border-radius: 5px;
  }

  .error-overlay{
    @include alert-overlay($red);
  }

  .success-overlay{
    @include alert-overlay($green);
  }
}
