#comments{
  padding: 10px;

    .comments-section{
        clear: both;
        display: block;
        width: 100%;

        ol {
            list-style-type: none;
            padding: 0px;
        }
        li.comment-item{
            padding: 5px 5px 15px 0px;
            clear: both;

            .avatar{
                float: left;
                display: inline-block;
                width: 50px;
                height: 50px;
                background-color: gray;
                border-radius: 25px;
                overflow: hidden;
            }
            .content{
                position: relative;
                width: 90%;
                padding-left: 60px;
                .meta{
                    display: block;
                    font-size: 13px;
                    color: #888;
                    font-family: sans-serif;
                    margin-bottom: 5px;
                    
                    span{
                        color: #666;
                    }
                    span.username{
                        color: #357EC7;
                    }
                }
                .comment-body{
                    display: block;
                    color: #555;
                    font-size: 16px;
                    line-height: 24px;
                    font-family: sans-serif;
                }
            }
        }

        h2 {
            margin: 0px 0px 10px 0px;
            font-size: 20px;
        }

        .clear{
            display: block;
            clear: both;
        }

        // New comment form
        form {
            margin-bottom: 10px;
            input[type=text]{
                width: 70%;
                height: 40px;
                font-size: 20px;
                padding-left: 10px;
                border: 2px solid #999;
                border-radius: 3px;
                color: #777;
            }
            input[type=submit]{
                height: 45px;
                padding: 0px 20px;
                font-size: 20px;
                color: #666;
                border: 2px solid #777;
                border-radius: 3px;
                &:hover{
                    color: #333;
                    background-color: #eee;
                    cursor: pointer;
                }
           }
        }
        

    }

}
