
.comments-section{
    clear: both;
    display: block;
    width: 90%;
    padding: 0px 20px 0px 20px;

    ol {
        list-style-type: none;
        padding: 0px;
    }
    li.comment-item{
        padding: 5px 5px 15px 0px;
        clear: both;

        .avatar{
            float: left;
            display: inline-block;
            width: 50px;
            height: 50px;
            background-color: gray;
            border-radius: 5px;
            margin-right: 10px;
        }
        .content{
            position: absolute;
            left: 90px;
            width: 80%;
            .meta{
                display: block;
                font-size: 10px;
                color: #888;
                font-family: sans;
                margin-bottom: 5px;
                
                span{
                    color: #666;
                }
                span.username{
                    color: #357EC7;
                }
            }
            .comment-body{
                display: block;
                color: #555;
                font-size: 16px;
                line-height: 24px;
                font-family: sans-serif;
            }
        }
    }

    h2 {
        margin: 0px 0px 0px 5px;
    }

    .clear{
        display: block;
        clear: both;
    }
}


