@import url(http://fonts.googleapis.com/css?family=PT+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

#featureVotingFeaturesModal {
  position: absolute;
  margin: 0px 0px 0px 0px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  height: 100%;
  background-color: white;
  box-shadow: 0 1px 1px #eee;

  #featureVotingFeaturesModalContent{
    clear: both;
    height: 90%;
    width: 100%;
    overflow-x: hidden;
    overflow-Y: scroll;
    position: relative;

    .newFeature {
      padding: 10px;
      font-family: sans-serif;

      input[type="text"]{
        width: 98%;
        height: 30px;
        font-size: 25px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid grey;
      }
      input[type="submit"]{
        border: 1px solid #555;
        background-color: white;
        border-radius: 5px;
        padding: 5px 10px;
        color: grey;
        font-family: 'PT Sans', sans-serif;
        &:hover {
          cursor: pointer;
          background-color: #eee;
        }
        &:active {
        }
      }
      textarea{
        width: 98%;
        height: 150px;
        border-radius: 5px;
        border: 1px solid grey;
      }
    }
  }
  ol.feature-container {
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 0px 0px;

    @mixin vote-buttons {
        .vote-buttons {
          position: absolute;
          left: 10px;
          top: 10px;

          .votes {
            display: block;
            line-height: 30px;
            text-align: center;
            font-size: 24px;
            width: 30px;
          }
          .up, .down {
            display: block;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-radius: 3px;
            cursor: pointer;
          }
          .up {
            border-bottom: 16px solid gray;
          }
          .up.active {
            border-bottom: 16px solid #fe7a15;
          }
          .down {
            border-top: 16px solid gray;
          }
          .down.active {
            border-top: 16px solid #fe7a15;
          }
        }
      }

    li.featureView {
      position: relative;
      display: block;
      text-align: left;

      overflow: visible;

      padding: 0px 20px 0px 20px;
      width: 90%;

      h1{
        font-family: 'PT Sans', sans-serif;
        color: #666;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 20px 0px;
        display: block;
      }

      .desc {
        position: relative;
        width: 90%;
        float: left;
        padding: 0px 0px 10px 0px;
        color: #777;
        font-size: 22px;
        font-family: 'Droid Serif', serif;
        line-height: 34px;
      }

      .meta {
        font-family: sans-serif;
        display: block;
        clear: both;
        width: 100%;
        text-align: right;
        font-size: 14px;
        color: #444;
        padding: 5px 0px 20px 0px;
        border-top: 1px dotted #888
      }
      @include vote-buttons;

      .vote-buttons{
        left: 0px;
        top: 10px;
        position: relative;
        float: left;
        margin: 0px 10px 10px 0px;
        width: 7%;
      }
    }

    li.feature {
      float: left;
      position: relative;
      display: inline-block;
      overflow: hidden;
      text-align: left;
      background-color: #fbfbfc;
      border-radius: 10px;
      box-shadow: 0 1px 1px #eee;
      height: 70px;
      margin-bottom: 10px;

      padding: 10px 10px 10px 0px;
      width: 97%;

      h1 {
        font-family: 'PT Sans', sans-serif;
        color: #85898b;
        margin: 0;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        font-size: 25px;
        left: 60px;
        top: 5px;
        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .desc {
        position: absolute;
        width: 90%;
        top: 40px;
        left: 60px;
        color: grey;
        font-size: 14px;
        font-family: 'Droid Serif', serif;
      }
      @include vote-buttons;
    }
  }


}

.clearfix {
  clear: both;
}
