@import url(http://fonts.googleapis.com/css?family=PT+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

#simplybetterFeaturesModal {
  position: absolute;
  margin: 0px 0px 0px 0px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  height: 100%;
  background-color: white;
  box-shadow: 0 1px 1px #eee;

  @mixin vote-buttons {
    .vote-buttons {
      position: absolute;
      left: 10px;
      top: 10px;

      .votes {
        display: block;
        line-height: 30px;
        text-align: center;
        font-size: 24px;
        width: 30px;
        height: 30px;
      }
      .up, .down {
        display: block;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-radius: 3px;
        &:hover{
            cursor: pointer;
        }
      }
      .up {
        border-bottom: 16px solid gray;
      }
      .up.active {
        border-bottom: 16px solid #fe7a15;
      }
      .down {
        border-top: 16px solid gray;
      }
      .down.active {
        border-top: 16px solid #fe7a15;
      }
    }
  }

  #simplybetterFeaturesModalContent{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-Y: scroll;
    position: relative;
  }
  .feature-container, feature-layout {
    position: relative;
    padding: 10px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
    @include clearfix;

    .featureView {
      text-align: left;
      overflow: visible;
      width: 100%;

      #vote{
          display: inline-block;
          float: left;
          clear: both;
          @include vote-buttons;
          .vote-buttons{
            position: relative;
            left: 0px;
            float: left;
            margin: 0px;
          }
          width: 30px;
          margin-bottom: 50px;
      }

      h1{
        font-family: 'PT Sans', sans-serif;
        color: #666;
        font-size: 30px;
        margin-bottom: 10px;
        display: block;
        float: left;
      }

      .desc {
        position: relative;
        width: 90%;
        float: left;
        padding: 0px 0px 10px 20px;
        color: #777;
        font-size: 22px;
        font-family: 'Droid Serif', serif;
        line-height: 34px;
      }

      .meta {
        font-family: sans-serif;
        display: block;
        clear: both;
        width: 100%;
        text-align: right;
        font-size: 14px;
        color: #444;
        border-top: 1px dotted #888;
        padding: 5px 0px 0px 0px;
      }
    }

    .feature {
      float: left;
      position: relative;
      display: inline-block;
      overflow: hidden;
      text-align: left;
      background-color: #fbfbfc;
      border-radius: 10px;
      box-shadow: 0 1px 1px #eee;
      margin-bottom: 10px;
      min-height: 80px;

      padding: 10px 0px 10px 0px;
      width: 100%;

      .feature-item{
        padding: 0px 10px 0px 60px;
      }

      h1 {
        font-family: 'PT Sans', sans-serif;
        color: #85898b;
        margin: 0px 0px 10px 0px;
        padding: 0;
        //white-space: nowrap;
        overflow: hidden;
        font-size: 20px;
        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .desc {
        color: grey;
        font-size: 14px;
        font-family: 'Droid Serif', serif;
        line-height: 20px;
      }
      @include vote-buttons;
    }
  }


}

.clearfix {
  clear: both;
}
