#simplybetterIdeasModal

  @mixin vote-buttons
    .vote-buttons
      position: absolute
      top: 0px
      left: 0px
      padding: 15px
      .votes
        display: block
        line-height: 44px
        text-align: center
        font-size: 16px
        font-weight: bold
        width: 36px
        height: 46px
        background: image-url('widget/vote-circle.png') no-repeat 0 -6px
      .up, .down, .up.active, .down.active
        margin-left: 5px
        display: block
        background: image-url('widget/thumbs.png') no-repeat
        width: 25px
        height: 22px
        &:hover
          cursor: pointer
          background-position-x: -25px
      .up
        background-position: 0px -44px
        &.active
          background-position: 0px 0px
      .down
        background-position: 0px -66px
        &.active
          background-position: 0px -22px

  #simplybetterIdeasModalContent
    width: 100%
    height: 80%
    overflow-x: hidden
    overflow-Y: scroll
    position: relative
    padding: 0px 10px 10px 10px

    .close-view-button
      display: none
    .overview
      .idea-layout
        .close-view-button
          background: image-url('widget/icons.png') no-repeat 0px -24px
          height: 24px
          width: 24px
          position: absolute
          display: block
          right: 10px
          top: 10px
          &:hover
            background-position-x: -24px
            cursor: pointer

    .idea-container, .overview-layout
      @include clearfix
      .ideaView
        width: 100%
        padding: 0px 15px
        #vote
          @include vote-buttons
        h1
          color: $black
          font-size: 30px
          margin-bottom: 10px
          display: block
        .desc
          color: #777
          font-size: 22px
          line-height: 34px
        .meta
          display: block
          clear: both
          width: 100%
          font-size: 12px
          font-weight: 500
          color: #777
          padding: 10px 0px 0px 0px
          span
            &.user
              color: $button-main
            &.date
              color: $black

    // Idea item    
    .idea, .idea-layout
      background: image-url('widget/seperator.png') repeat-y 65px 0px
      position: relative
      display: block
      text-align: left
      background-color: $white
      border-radius: 3px
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2)
      margin-bottom: 10px
      padding: 15px 0px 20px 66px
      min-height: 120px
      width: 100%
      @include vote-buttons

      .idea-item
        display: block
        min-height: 100px
        padding: 0px 15px 0px 15px
        h1
          color: $black
          margin: 0px 0px 10px 0px
          padding: 0
          font-size: 30px
          &:hover
            cursor: pointer
        p
          color: $gray
          font-size: 14px
          line-height: 20px

