#simplybetterIdeasModalContent
  idea-admin-options
    position: absolute
    bottom: 15px
    left: 13px
    width: 31px
  .admin-options
    ul
      li
        text-align: center
  .icon
    margin-right: 0
