#simplybetterIdeasModal
  $navbar-height: 40px
  #simplybetterNavbar
    background: image-url('widget/seperator-dark.png') repeat-y 75px 0
    position: relative
    padding: 25px 30px 25px 90px
    min-height: 90px
    h2
      color: $black
      margin: 0px
      font-size: 14px
      font-weight: 700
      line-height: 20px
    a.home
      &:hover
        cursor: pointer
    p
      color: $gray
      font-size: 14px
      margin-top: 2px
      line-height: 20px
    a.link
      position: absolute
      bottom: 30px
      left: 26px
      text-align: center
      text-transform: uppercase
      font-size: 12px
      font-weight: 500
      .back-arrow
        @include icon(0px)
        width: 24px
        height: 24px
        margin: 0px 0px 3px 5px
      &:hover
        color: $button-hover
        text-decoration: none
        .back-arrow
          background-position: -24px 0

    &.overview
      margin-bottom: 10px
      padding: 25px 30px
      background: $white
      a.link
        display: none

