#simplybetterIdeasModal
  $navbar-height: 40px
  #simplybetterNavbar
    background: image-url('widget/seperator-dark.png') repeat-y 76px 0
    position: relative
    padding: 25px 30px 25px 90px
    min-height: 90px
    border-bottom: 1px solid $background
    h2
      color: $black
      margin: 0px
      font-size: 14px
      font-weight: 700
      line-height: 20px
    a.home
      &:hover
        cursor: pointer
    p
      color: $black
      font-weight: 400
      font-size: 20px
      margin: 2px 0px 12px 0px
      line-height: 20px

    &.overview
      padding: 15px 20px
      background: $white
      a.link
        display: none

