#simplybetterFeaturesModal {
  $navbar-height: 40px;
  padding-top: $navbar-height;
  #simplybetterNavbar {
    height: $navbar-height;
    background-color: $powderpuff;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

    h1{
      font-family: 'PT Sans', sans-serif;
      font-size: 20px;
      position: relative;
      display: inline-block;
      float: left;
      margin: 0px 10px;
      color: white;
      text-shadow: 1px 1px $gray;
    }

    .simplybetterNavbarContent {
      position: absolute;
      width: 100%;
      bottom: 0px;
    }

    .link{
      background-color: #fbfbfc;
      padding: 5px 10px 5px 10px;
      box-shadow: 0px -1px 1px #eee;
      position: relative;
      display: inline-block;
      float: left;
      margin-left: 10px;
      font-family: 'PT Sans', sans-serif;
      border-bottom: 2px solid $banquette;
      &.active{
        background-color: white;
        border-bottom: 2px solid white;
      }
    }

    a {
      color: #85898b;
      text-decoration: none;
      &:hover{

      }
      &:visited{
        font-family: 'PT Sans', sans-serif;
      }
    }
  }
}
