.simplybetter-table{
  height: 100%;
  width: 100%;
  td.content{
    height: 100%;
  }
}
#simplybetterFeaturesModal {
  $navbar-height: 40px;
  #simplybetterNavbar {
    background-color: $powderpuff;
    position: relative;

    a.logo{
      position: absolute;
      top: 3px;
      left: 5px;
      h1{
        font-size: 20px;
        display: inline-block;
        color: white;
        text-shadow: 1px 1px $gray;
        padding: 5px;
      }
    }
    h2{
      color: $strawberry;
      display: block;
      text-align: center;
      font-size: 20px;
      line-height: 30px;
      margin-top: 4px;
      a.home{
        color: $strawberry;
        &:hover{
          cursor: pointer;
        }
      }
    }

    p{
      padding: 10px 10px 30px 10px;
      color: $banquette;
      font-size: 14px;
      line-height: 20px;
    }

    .simplybetterNavbarContent {
      width: 100%;
    }

    a.link{
      color: $blue;
      //background-color: $charlotte;
      padding: 10px 5px;
      //box-shadow: 0px 1px 1px #eee;
      z-index: 20;
      position: absolute;
      display: inline-block;
      font-family: 'PT Sans', sans-serif;
      right: 50px;
      bottom: 0px;
      &:hover{
        text-decoration: underline;
      }
      &.active{
        display: none;
      }
    }

    a {
      color: #85898b;
      text-decoration: none;
      &:hover{

      }
      &:visited{
        font-family: 'PT Sans', sans-serif;
      }
    }
  }
}
