.newFeature {
  padding: 30px;
  font-family: sans-serif;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */

  input, textarea{
    outline: none;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    margin-bottom: 10px;
    &:focus{
      background-color: #fff;
      border-color: #92BFFD !important;
    }
  }

  input[type="text"] {
    width: 100%;
    height: 30px;
    font-size: 20px;
    border: 2px solid grey;
    padding: 20px 10px;
    background-color: #fbfbfb;
  }
  input[type="submit"]{
    float: right;
    border: 2px solid #555;
    background-color: #eee;
    padding: 7px 15px;
    color: grey;
    font-family: 'PT Sans', sans-serif;
    &:hover {
      cursor: pointer;
      background-color: #eee;
    }
    &:active {
    }
  }
  textarea{
    width: 100%;
    height: 50px;
    border: 2px solid grey;
    padding: 10px 10px;
    resize: vertical;
  }

  .new-feature-form{
    padding: 0px;
    height: 0px;
    overflow: hidden;
    width: 100%;
    transition: height 2s;
    -webkit-transition: height 2s; /* Safari */
    &.focused {
      height: auto;
    }
  }
}

