#simplybetterActivateButton {
  position: fixed;
  right: -75px;
  bottom: -75px;
  height: 150px;
  width: 150px;
  z-index: 2000;
  background: url('/blue-rotate.gif') no-repeat;
  background-size: contain;
  transform:rotate(45deg);
  -ms-transform:rotate(45deg); /* IE 9 */
  -webkit-transform:rotate(45deg); /* Safari and Chrome */

  &:hover{
    cursor: pointer;
  }
}
