@import imports
@import fonts
@import font-awesome
@import icons
@import mixins
@import icons
@import modal
@import yes_no_prompt
@import widget/ideas
@import widget/navbar
@import widget/alerts
@import widget/comments
@import widget/new_idea
@import widget/success
@import widget/settings
@import widget/support
@import widget/edit-idea
@import widget/idea-admin-options
@import widget/faq

h1,h2,h3,h4,h5,body,label,input,textarea
  font-family: 'Lato', sans-serif
  font-weight: 300

p
  font-family: 'Lato', serif
  font-weight: 400

strong
  font-weight: 700

#simplybetterIdeasModal
  position: absolute
  overflow: hidden
  margin: 0px 0px 0px 0px
  width: 100%
  left: 0
  top: 0
  z-index: 1000
  height: 100%
  background-color: $background
  padding-left: 60px

  .support-icon
    @include support-icon

  .logobar
    background: linear-gradient(to bottom, rgb(56,158,215) 0%,rgb(148,73,224) 60%,rgb(169,73,224) 100%)
    height: 100%
    width: 60px
    position: absolute
    left: 0px
    .logo
      background: image-url('widget/logo.png') no-repeat
      display: block
      width: 32px
      height: 50px
      margin: 0px auto
      margin-top: 15px
    .logo-text
      width: 60px
      text-align: center
      font-weight: 700
      font-size: 13px
      color: white
      padding-top: 10px
      line-height: 18px
    a:hover
      text-decoration: none

    .support-button
      height: 31px
      width: 31px
      position: absolute
      left: 16px
      bottom: 115px
      cursor: pointer
      overflow: visible
      color: rgba(255, 255, 255, 0.5)
      &:hover
        color: rgba(255, 255, 255, 0.8)
    .settings-button
      background: image-url('widget/settings-icon.png') no-repeat center center
      position: absolute
      bottom: 60px
      height: 31px
      width: 60px
      color: rgba(255, 255, 255, 0.5)
      font-size: 32px
      text-align: center
      opacity: 0.8
      &:hover
        opacity: 1

    #simplybetterNotifications
      height: 31px
      width: 31px
      position: absolute
      left: 15px
      bottom: 15px
      cursor: pointer
      overflow: visible

      .no-notifications
        background: image-url('widget/notifications-idle.png') no-repeat
        height: 31px
        width: 31px
        &:hover
          background-position: -31px 0px
      .new-notifications
        background: $notification-background
        height: 31px
        width: 31px
        line-height: 31px
        border-radius: 16px
        font-weight: 500
        text-align: center
        color: $white
        &:hover
          background: $notification-background-hover

      .notifications
        height: 350px
        width: 300px
        position: absolute
        top: -315px
        left: 40px
        background: $white
        border-radius: 3px
        border: 1px solid $notification-border
        z-index: 100
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3)

        .top
          position: absolute
          top: 0px
          left: 0px
          right: 0px
          border-bottom: 1px solid $notification-border
          padding: 8px
          color: $gray
          font-size: 12px

        .notifications-list
          margin-top: 30px
          overflow-y: scroll
          height: 320px
        .notification
          width: 100%
          border-bottom: 1px solid $notification-border
          padding: 10px 10px 10px 60px
          position: relative
          &.new
            background: $notification-new-background
          &:hover
            background: $notification-hover
          .profile-image
            position: absolute
            top: 10px
            left: 10px
            border-radius: 100px
            border: 0px
            overflow: hidden
            height: 40px
            width: 40px
            img
              width: 40px
              height: auto
          .notification-message
            width: 100%
            font-size: 12px
            line-height: 16px
            .meta
              width: 100%
              margin-top: 6px
              background: image-url('widget/clock.png') no-repeat 0px 3px
              padding-left: 15px
              abbr
                border-bottom: 0px
                cursor: default
                color: $gray
        .arrow-left
          position: absolute
          bottom: 8px
          left: -5px
          width: 0
          height: 0
          border-top: 10px solid transparent
          border-bottom: 10px solid transparent
          border-right: 10px solid $white

  .simplybetter-table
    height: 100%
    width: 100%
    tr.hax
      height: 100%

    td.content
      height: 100%
      padding: 0
      vertical-align: top
      border-collapse: collapse
      overflow-y: scroll

  ul
    li
      position: relative
      .options
        display: none
        position: absolute
        right: 20px
        top: 30px
        z-index: 10
        .icon
          margin: 0 10px
          cursor: pointer
      &:hover
        .options
          display: inline-block

    .not-visible-overlay
      position: absolute
      top: 0
      bottom: 0
      left: 2px
      right: 0
      background: $white
      opacity: 0.8
      border-radius: 3px
      border: 0px


