@import "imports";
@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "widget/fonts";
@import "font-awesome";
@import "widget/mixins";
@import "widget/features";
@import "widget/navbar";
@import "widget/alerts";
@import "widget/comments";
@import "widget/new_feature";
@import "widget/success";


h1,h2,h3,h4,h5,body,label,input,textarea {
    font-family: 'PT Sans', sans-serif;
}
p {
    font-family: 'Droid Serif', serif;
}

