#featureVotingCloseButton {
  font-size: 40px;
  line-height: 30px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  z-index: 2000;
  right: 5px;
  top: 0px;
  cursor: pointer;
}

#featureVotingBackdropLayer {
  top: 0px;
  left: 0px;
  position: fixed;
  height: 100%;
  z-index: 1500;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.20)
}


#simplybetterIframeWrapper {
  position: fixed;
  z-index: 2000;
  top: 10%;
  left: 30%;
  right: 30%;
  height: 70%;
  border: 2px solid #edf0f4;
  box-shadow: 0 1px 1px #eee;
}

.simplybetterIframe {
  position: relative;
  background-color: #edf0f4;
  height: 100%;
  width: 100%;
}


#simplybetterActivateButton {
  position: fixed;
  left: 0px;
  top: 40%;
  height: 90px;
  width: 25px;
  z-index: 2000;
  background: red url('http://simplybetter.io/feedback_button.png') no-repeat;
  background-position: center;
  padding: 5px 0px 0px 5px;
  border: 3px solid rgb(255, 158, 162);
  border-left: 0px;

  &:hover{
    background-color: #ff3f41;
    width: 35px;
    cursor: pointer;
  }
}
