@import 'colors';

#simplybetterCloseButton {
  background: image-url('widget/icons.png') no-repeat 0 -24px;
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 2000;
  right: 5px;
  top: 5px;
  cursor: pointer;
  &:hover{
    background-position: -24px -24px;
  }
}

#simplybetterBackdropLayer {
  top: 0px;
  left: 0px;
  position: fixed;
  height: 100%;
  z-index: 1500;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.20)
}

#simplybetterActivateButton {
  span{
    position: absolute;
    font-family: sans-serif;
    font-size: 14px;
    padding: 0px 5px 0px 5px;
    background-color: $notification-background;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: 0px;
  }
}

#simplybetterIframeWrapper {
  background: transparent;
  $width: 900px;
  width: $width;
  position: fixed;
  z-index: 2000;
  top: 10%;
  left: 50%;
  margin-left: - $width/2;
  height: 70%;
  border: 0px;
  @media (max-width: 900px) {
    width: auto;
    margin-left: 0px;
    left: 3%;
    right: 3%;
  }
}

.simplybetterIframe {
  position: relative;
  background-color: #edf0f4;
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

