<ol class="feature-container">
    <li class="featureView">
        <h1>{{= feature.title }}</h1>
        <div class="desc">{{= feature.description }}</div>
        <div class="meta">By {{= feature.creator_name }}, on {{= feature.updated_at}}</div>
        <div class="vote-buttons">
            <a href="#" class="up {{= voteClass.up }}"></a>
            <div class="votes">{{= feature.votes_count }}</div>
            <a href="#" class="down {{= voteClass.down }}"></a>
        </div>
    </li>
</ol>