(function(){
    var appKey = _smplyBtr.appKey;
    var email = _smplyBtr.email;
    var name = _smplyBtr.name;

    var urlRoot = "<%=WidgetPath.path%>";
    var cssId = 'simplyBetterWidgetStyle';

    var iframeWrapper;
    var backdrop;
    var activateButton;

    var createStyleLink = function(name){
      var head  = document.getElementsByTagName('head')[0];
      var link  = document.createElement('link');
      link.id   = cssId;
      link.rel  = 'stylesheet';
      link.type = 'text/css';
      link.href = urlRoot + '/assets/widget/'+name+'.css';
      link.media = 'all';
      head.appendChild(link);
    };

    if (!document.getElementById(cssId)){
      createStyleLink('widget-client');
      createStyleLink('icons/<%=@icon%>');
    }

    var appendToBody = function(html){
        document.getElementsByTagName('body')[0].appendChild(html);
    }

    var appendActivateButton = function(){
        var buttonWrapperDiv = document.createElement('div');
        buttonWrapperDiv.innerHTML = '<div id="simplybetterActivateButton"></div>';
        appendToBody(buttonWrapperDiv);
    }

    var appendSimplyBetterWidget = function(){
        var html = document.createElement('div');
        html.innerHTML = '<div id="simplybetterBackdropLayer" style="display: none;"></div><div id="simplybetterIframeWrapper" style="display: none;"><div id="simplybetterCloseButton"></div><iframe class="simplybetterIframe" src="' + urlRoot + '/widget?appkey='+appKey+'&email='+email+'&name='+name+'" frameborder="0", scrolling="no"></iframe></div>';
        appendToBody(html);
    }

    var closeModal = function() {
        iframeWrapper.setAttribute('style','display: none;');
        backdrop.setAttribute('style', 'display: none;');
    };

    var bindCloseButtons = function(){
        document.getElementById('simplybetterCloseButton').onclick = function() {
          closeModal();
        };
        backdrop.onclick = function(){
          closeModal();
        };
    };

    // Append the Activate button
    appendActivateButton();
    activateButton = document.getElementById('simplybetterActivateButton');

    activateButton.onclick = function() {
        appendSimplyBetterWidget();
        iframeWrapper = document.getElementById('simplybetterIframeWrapper');
        backdrop = document.getElementById('simplybetterBackdropLayer');
        bindCloseButtons();

        iframeWrapper.removeAttribute('style');
        backdrop.removeAttribute('style');
    };

    // Show notification count on the button
    var requestNotificationCount = function(){
        var xmlhttp=new XMLHttpRequest();
        var url = urlRoot + '/widget_api/notifications/count?token='+appKey+'&user_email='+email;
        xmlhttp.onreadystatechange=function() {
          if (xmlhttp.readyState==4 && xmlhttp.status==200) {
            var responseJson = eval('(' + xmlhttp.responseText + ')');
            if (responseJson.count > 0)
              activateButton.innerHTML='<span>'+responseJson.count+'</span>';
            else
              activateButton.innerHTML='';
          }
        }
        xmlhttp.open("GET",url,true);
        xmlhttp.send();
    };
    if (appKey.length > 0 && email.length > 0){
      setInterval(function(){
        requestNotificationCount();
      }, 30000);
      requestNotificationCount();
    }
    // End Notification count
})();
