.col-md-3
  .list-group
    = link_to application_path(@application.id), class: 'list-group-item' do
      %i.fa.fa-smile-o
      Installation instructions
    -#= link_to new_application_feature_path(@application.id), class: 'list-group-item' do
      %i.fa.fa-plus
      New idea
    = link_to administrate_group_application_path(@application.id), class: 'list-group-item' do
      %i.fa.fa-list-alt
      Show ideas
    = link_to applications_path, class: 'list-group-item' do
      %i.fa.fa-arrow-circle-left
      Applications overview
