.col-xs-12
  .links
    %h3
      Applications
    - unless applications.blank?
      - applications.each do |a|
        =link_to administrate_group_application_path(a.id) do
          .row{class: active(a)}
            .col-xs-10.name
              =a.name
            .col-xs-2.info
              %span.badge.pull-right
                =a.ideas.count
    - else
      You have not created any applications yet
