.col-xs-12
  .new-application
    = link_to 'New project', new_application_path, class: 'button-new'
  .links
    %h3
      Projects
    - unless applications.blank?
      - applications.each do |a|
        =link_to administrate_group_application_path(a.id) do
          .row{class: active(a)}
            .col-xs-10.name
              =a.name
            .col-xs-2.info
              %span.badge.pull-right
                =a.ideas.count
    - else
      You have not created any projects (widgets for your website) yet

.user
  = current_customer.name
  |
  = link_to "Sign out", sign_out_path, class: 'navbar-link', method: :delete

