/ Social tags
- title = 'Ideas and Innovation Management App | SimplyBetter.io'
- desc = 'SimplyBetter is an Ideas and Innovation management app for user-driven Product Development success. Allow your users to improve your product. Learn more..'
- img = 'images/simplybetter.png'

%meta{content:  title, itemprop:  'name'}
%meta{content:  desc, itemprop:  'description'}
%meta{content:  img, itemprop:  'image'}
/ Twitter Card data
%meta{content:  title, name: 'twitter:title'}
%meta{content:  desc, name: 'twitter:description'}
%meta{content:  img, name: 'twitter:image'}
/ Open Graph data
%meta{content:  title, property:  'og:title'}/
%meta{content:  'http://simplybetter.io/', property:  'og:url'}
%meta{content:  desc, property:  'og:description'}/
%meta{content:  'SimplyBetter', property:  'og:site_name'}
%meta{content:  img, property:  'og:image'}