:javascript
  var _smplyBtr = _smplyBtr || {};
  _smplyBtr.appKey = 'BYGKGJYA';
  _smplyBtr.email = "#{current_customer.try(:email)}";
  _smplyBtr.name = "#{current_customer.try(:name)}" ;
  (function() {
  var sb = document.createElement('script'); sb.type = 'text/javascript'; sb.async = true; sb.src = "#{WidgetPath.path}/widget_api/applications/client_js.js?appkey="+_smplyBtr.appKey; var s = document.getElementsByTagName('body')[0]; s.appendChild(sb);
  })();
