development:
  adapter: postgresql
  database: howhard
  pool: 5
  timeout: 5000
  encoding: unicode
  prepared_statements: true

test:
  adapter: postgresql
  database: howhard_test
  pool: 5
  timeout: 5000
  encoding: unicode
  prepared_statements: true
