#about
  %h1 What is Simplybetter?
  .row
    .col-sm-4
      %img(src='ideas.png')
      %h2 Collects feedback & ideas
      %p
        Feedback from your users are really important,
        and Simplybetter makes it easier for you
        to simply get better!
    .col-sm-4
      %img(src='integrate.png')
      %h2 Integrates with your website
      %p
        Your user don't have to register on an external site.
        This is completely integratet on you own site!
    .col-sm-4
      %img(src='database.png')
      %h2 Your own databse
      %p
        The data is stored on our database, so you don't need to worry about
        space beeing used on your
