%section#what.white-section
  .site-content
    %h2 How does it work?
    .box
      %span.item-logo.idea-logo
      %h3 Get your users involved
      %p Allow your users to share and vote ideas and features to drive innovation.
    .box
      %span.item-logo.engaged-logo
      %h3 Better product development
      %p Iterate faster from beta to product launch with the help of you users.
    .box
      %span.item-logo.website-logo
      %h3 Easy one-script integration
      %p Your users stay on your site and there is no need for external sign up.
    .clear
