%section#what.white-section
  .site-content
    %h2 How does it work?
    .box
      %span.item-logo.idea-logo
      %h3 Collect and manage ideas
      %p Get your users involved in your product development by allowing them to share and vote ideas and feature requests.
    .box
      %span.item-logo.engaged-logo
      %h3 Better and faster product development
      %p Iterate faster from beta to product launch with the help of you users.
    .box
      %span.item-logo.website-logo
      %h3 Easy one-script web app integration
      %p Your users stay on your site and there is no need for external sign up.
    .clear
