%section#what.white-section
  .site-content
    %h2 What is Simply Better?
    .box
      %span.item-logo.idea-logo
      %h3 Collects feedback  ideas
      %p Get your users involved through ideas and feature requests.
    .box
      %span.item-logo.engaged-logo
      %h3 Keeps your users engaged
      %p Your users will feel valued by contributing to improve your product.
    .box
      %span.item-logo.website-logo
      %h3 Integrates with website
      %p Your customer stays on your site and there is no need for external sign up.
    .clear
