%section#contact.contact-section{'ng-controller' => 'ContactUsCtrl'}
  .site-content
    %h2 Contact us
    .contact-form
      .form-box{'ng-hide' => 'message_to_customer'}
        %form{name: 'contactForm', 'ng-submit' => 'sendForm()', novalidate: true}
          %label Hello, what can we call you?
          %input{name: 'name', type: 'text', 'ng-model' => 'name'}
          %label What is your email?
          %input{name: 'email', type: 'email', 'ng-model' => 'email', 'ng-class' => '{ correct: !invalidEmail(), error: invalidEmail() }', required: true }
          %label What's on your mind?
          %textarea{name: 'message', 'ng-model' => 'message', 'ng-class' => '{ correct: !invalidMessage(), error: invalidMessage() }', required: true}
          %input.disabled{type: 'submit', value: 'SEND', 'ng-class' => '{ disabled: !valid() }'}
      .message_to_customer(ng-show='message_to_customer')
        {{ message_to_customer }}

    %div(style='float: left')
      %a(href='https://www.facebook.com/simplybetterio')
        .icon.facebook
      %a(href='https://twitter.com/SimplyBetterio')
        .icon.twitter
      .clear
      %a(href='https://angel.co/simplybetter')
        .icon.angellist
      %a(href='https://www.f6s.com/simplybetter1/edit/deal/4885/ideas-innovation-management')
        .icon.f6s

      .contact-us
        %a(href='mailto:support@simplybetter.io')
          .icon-contact
          support@simplybetter.io

    .clear
.clear
