%section#contact.contact-section{'ng-controller' => 'ContactUsCtrl'}
  .site-content
    %h2 Contact
    .form-box{'ng-hide' => 'message_to_customer'}
      %form{name: 'contactForm', 'ng-submit' => 'sendForm()', novalidate: true}
        %label Name
        %input{name: 'name', type: 'text', 'ng-model' => 'name'}
        %label E-mail
        %input{name: 'email', type: 'email', 'ng-model' => 'email', 'ng-class' => '{ correct: !invalidEmail(), error: invalidEmail() }', required: true }
        %label You are bothering us because...
        %textarea{name: 'message', 'ng-model' => 'message', 'ng-class' => '{ correct: !invalidMessage(), error: invalidMessage() }', required: true}
        %input.disabled{type: 'submit', value: 'SUBMIT', 'ng-class' => '{ disabled: !valid() }'}
        .clear
    .message_to_customer(ng-show='message_to_customer')
      {{ message_to_customer }}
.clear
