%h2
  SimplyBetter is unfortunately discontinued..
  %br
  If you think SimplyBetter really should continue and can provide some financial support or want to buy the code? Contact us :)
  %br
  The site will be taken down Sept 1st 2016