%section#faq.white-section
  .site-content
    %h2 Frequenty asked questions
    %h3.first INSTALLING & SETUP
    .faq-box
      %h4 How do I install and setup SimplyBetter?
      %p
        Installing SimplyBetter is very quick.
        You first create an account on the SimplyBetter
        website and after successfully registering you
        get access to the SimplyBetter script.
        This script will be added just like a
        Google Analytics script into the header of
        your website before the
        = '</body>'
        tag. That simple.

    .faq-box
      %h4 Do I need to make changes to my web app to integrate SimplyBetter?
      %p
        SimplyBetter is implemented just like a Google Analytics script so there is no
        need to customize or setup your website around it. You do however have the option
        to further customize the widget and change icons, triggers, add a support form or an FAQ list.
        All options are available in the Dashboard once you sign in.

    .faq-box
      %h4 How do I customize SimplyBetter for my web app? What options do I have?
      %p
        Go to ‘Customization’ in the Dashboard. There you can
        change or hide icon, or choose to use your own trigger for the widget.
        You can change title and/or description of the widget, add/remove modules for FAQ and Support,
        trigger your own support system for SimplyBetter’s Support icon in the widget,
        change price plan, disable your widget

    .faq-box
      %h4 Can I add multiple web apps to my SimplyBetter account?
      %p
        Yes, you can add as many applications as you like,
        and choose a specific pricing plan according to your needs.

      %h4 Can I add my team to manage the app?
      %p
        Yes, you can add collaborators to the SimplyBetter app and they can
        also manage the app with you (moderate comments, hide ideas, set idea status).
    .faq-box
      %h4 Can I integrate my Support & Feedback system with SimplyBetter?
      %p
        You can add a Support message feature and your FAQ list to your widget.
        This way you make sure the widget will only be used for ideas and
        innovation purposes and if your users need a knowledge base or to
        submit a support ticket they will have it right within the widget.

    .clear
    %h3 USER & IDEAS MANAGEMENT
    .faq-box
      %h4 How do I make my users use SimplyBetter?
      %p
        We recommend you send your users a quick email telling them about the new ideas and innovation
        app and widget that will give them the opportunity to shape the product they are using.

    .faq-box
      %h4 How will my users connect to the widget?
      %p
        Once your users login into the web app, they will see the SimplyBetter icon in the lower right corner of the
        page and will be able to interact with it at any time by adding comments, ideas or voting on existing ideas.

    .faq-box
      %h4 How will my users add, comment and vote ideas?
      %p
        Once your users login into the web app, they will see the
        SimplyBetter icon in the lower right corner of the page or
        the position you set and will be able to interact with it at
        any time by adding comments, ideas or voting on existing ideas.
        They can also check the status of the ideas by level of completeness:
        completed, not completed and also check the status of their own ideas.

    .faq-box
      %h4 How do I moderate comments from my users?
      %p
        You can simply hide a comment, and then it won’t be visible
        for any other than your administrators. To hide a comment go
        to the idea in the Dashboard (or widget signed in as admin),
        hover the mouse over the comment and click the eye symbol.
        You can at any time make the comment visible again if you choose so.

    .clear

    .faq-box
      %h4 How do I change idea statuses?
      %p
        In the dashboard (or directly in the widget signed in as admin)
        you can easily click on an idea, open the admin menu and change the status to Complete.
    .faq-box
      %h4 How can I see the status of all ideas being added and voted in the app?
      %p
        In the dashboard, you can view all ideas by going to the Show Ideas tab. There you can also change the status of the idea, make an idea invisible or delete it.


    .clear
    %h3 PAYMENT & ACCOUNT
    .faq-box
      %h4 What forms of payment do you accept?
      %p For now an invoice on email.
    .faq-box
      %h4 How do I remove SimplyBetter and delete my account?
      %p You can disable your widgets, but not delete it or your account this point.
    .faq-box
      %h4 How do I know when I’ve reached my user limit?
      %p
        You will receive an email with information, and about a month grace period before you have to upgrade to a higher price plan.

    .faq-box
      %h4 What happens with the ideas, comments and rankings if I disable SimplyBetter? If I reinstall the app is previous data restored?
      %p
        When you disable your app the widget will stop working from your site and also billing will stop. You can re-enable it anytime and all your data will still be present.

    .clear
    %h3 SECURITY & SUPPORT
    .faq-box
      %h4 Are my user details safe?
      %p
        Your information is safe with us. We follow very strict standards to
        protect your users data. Passwords are encrypted using the latest
        commercially available algorithms. We use HTTPS to secure access
        between you and SimplyBetter. If you want more details about data
        security on SimplyBetter visit the Privacy Policy and Terms of Use.
    .faq-box
      %h4 How do I get in contact with you if I need support?
      %p
        You can send us a message from inside the SimplyBetter app, by clicking the “Need support” link or you can use the Contact form on the website or you can send us an email at support@simplybetter.io.


  .clear