%section#why.blue-section.whi-us
  .site-content
    %h2 Why is SimplyBetter good for you?
    .box
      .box-container
        %span.item-logo.item-analitics  
        %p Easy one script install, like Google Analytics
    .box
      .box-container
        %span.item-logo.item-like  
        %p Idea prioritization through voting system and comments
    .box
      .box-container
        %span.item-logo.item-complete  
        %p Idea follow up by complete status
    .box
      .box-container
        %span.item-logo.item-look  
        %p No addional login for your users
    .box
      .box-container
        %span.item-logo.item-notification  
        %p Customer side notification system for new ideas
    .box
      .box-container
        %span.item-logo.item-side-idea  
        %p Customer side idea and comment moderation
    .box
      .box-container
        %span.item-logo.item-side-notification  
        %p User side notification system for votes and comments
    .box
      .box-container
        %span.item-logo.item-widget  
        %p Widget icon full optimization available
    .box
      .box-container
        %span.item-logo.item-database  
        %p Database and storage hosted by SimplyBetter
    .clear
