%footer
  .site-content
    %a.fLogo{href: "#wrapper", title: "Go Top"}
    %ul.fMenu
      %li
        %a{href: "#why", title: "About"} About
      %li
        %a{href: "#feature", title: "About"} Feature
      %li
        %a{href: "#price", title: "Price"} Price
      %li.last
        %a{href: "#contact", title: "Contact"} Contact
    .clear
    %p.copy
      \© 2014 SimplyBetter. All rights reserved. Read more about our
      %a{href: "#", title: "Terms  Condition"} Terms  Condition
  .mobile-menu
    %ul
      %li
        %a.about{href: "#what", title: "About"}
          %span.item
          %span.text About
      %li
        %a.feature{href: "#why", title: "Feature"}
          %span.item
          %span.text Feature
      %li
        %a.price{href: "#price", title: "Price"}
          %span.item
          %span.text Price
      %li.last
        %a.contactF{href: "#contact", title: "Contact"}
          %span.item
          %span.text Contact
