%section#img-box.img-box
  .site-content
    %h1
      Ideas and innovation managemnent for user-driven
      %br
      product development success.
    .tablet-box(class='simplybetterActivateButton')
      %img{src: 'img/tablet.png', alt: 'Ideas and Innovation Management App screenshot - SimplyBetter.io', title: 'Ideas and Innovation Management App screenshot - SimplyBetter.io'}
%section.img-box-mobile
  .site-content
    %h1 Make your users feel valued.
    %p Ideas and innovation managemnent for user-driven product development success.
    .tablet-box(class='simplybetterActivateButton')
      %img{src: 'img/mobile-tablet.png', alt: 'Ideas and Innovation Management App screenshot - SimplyBetter.io', title: 'Ideas and Innovation Management App screenshot - SimplyBetter.io'}
