%section#img-box.img-box
  .site-content
    %h1(style='color: white') Ideas and innovation managemnent for user-driven product development success.
    .tablet-box(class='simplybetterActivateButton')
      %img{src:"img/tablet.png"}/
%section.img-box-mobile
  .site-content
    %h1 Make your users feel valued.
    %p Ideas and innovation managemnent for user-driven product development success.
    .tablet-box(class='simplybetterActivateButton')
      %img{src:"img/mobile-tablet.png"}/
