%section#img-box.img-box
  .site-content
    .tablet-box
      = link_to new_customer_path do
        %img{src:"img/tablet.png"}/
%section.img-box-mobile
  .site-content
    %h1 Make your users feel valued.
    %p Give your users a channel to express and collaborate on ideas to improve the product they already use.
    .tablet-box
      %img{src:"img/mobile-tablet.png"}/
