#intro
  %h1
    Simply the best plugin that helps you getting better!
  %p
    With the simplest flow possible, no additional signup, it's never been easier for your customer to tell you what would make your tool better
  %p
    .button.secondary
      LEARN MORE
    .button.default
      PLAY VIDEO
