%li
  %a{href: '#what', title: 'About'} About
%li
  %a{href: '#why', title: 'Features'} Features
%li
  %a{href: '#price', title: 'Price'} Price
-#%li
-#  %a{href: '#contact', title: 'Contact'} Contact
