.social
  %ul
    %li
      %a(href='https://www.f6s.com/simplybetter1/edit/deal/4885/ideas-innovation-management') F6S
    %li
      %a(href='https://twitter.com/SimplyBetterio') Twitter
    %li
      %a(href='https://www.facebook.com/simplybetterio') Facebook
    %li.last
      %a(href='https://angel.co/simplybetter') Angellist
    %li.email
      %a(href='mailto:support@simplybetter.io') support@simplybetter.io
