= render '/shared/email_header'

#email-box
  %h1 Forgot password?

  %p
    = "Hey #{@user.name},"
    we see that you forgot your password. We are happy to inform you that
    by simply clicking the button below you can change it

  %br
  = link_to edit_password_reset_url(@user.password_reset_token) do
    %button RECOVER YOUR PASSWORD
