// Cool

$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;

// Warm

$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;

// Gray Scale

$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;

// Custom palette

$banquette: #774F38;
$strawberry: #E08E79;
$creme: #F1D4AF;
$powderpuff: #ECE5CE;
$charlotte: #C5E0DC;

// Application specific
$background: #efefef;
$form-border: #ccc;
$form-focus: #f8ffc3;
$form-hover: #feffef;
$button-main: #239ed7;
$button-hover: #27c9ff;
$button-text: #fff;
$text: #777;
$list-hover: #FEF8D6;
$upvote: #7dca91;
$downvote: #f89d95;


// Admin panel specific
$menu-link-hover: #2fb3f0;
$menu-link-text: #00557c;
$menu-badge: #1a80af;
$menu-badge-active: #ffa800;
$button-new: #00d395;

$completed-border: #50c86e;
$completed-background: #f5fff7;

$notification-background: #f99628;
$notification-background-hover: #fc8b0d;
$notification-border: #ccc;
$notification-new-background: #eff9ff;
$notification-hover: #e8f1f6;
