.feature {
  width: 500px;
  height: 100px;
  display: block;
  clear: both;
  border-bottom: 1px solid gray;
  margin-top: 10px;
  position: relative;
}
.title{
  float: left;
  width: 300px;
}
      //%h2= f.title
.votes{
  float: right;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.description{
  float: left;
  width: 300px;
  clear: both;
}