#features {
  text-align: center;
  width: 96%;
  max-width: 600px;
  margin: 0 auto;

  &>ol.feature-container {
    &>li.feature {
      cursor: pointer;
      float: left;
      position: relative;
      display: inline-block;
      overflow: hidden;

      text-align: left;

      height: 100px;
      margin-bottom: 10px;

      padding: 10px;
      border: 3px solid #a9a9a9;
      border-radius: 4px;
      width: 100%;
      max-width: 580px;
      min-width: 300px;

      &>h1 {
        max-width: 520px;
        margin: 0;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        font-size: 18px;
        left: 10px;
        top: 10px;
      }

      &>.desc {
        max-width: 500px;
        position: absolute;
        left: 10px;
        top: 50px;
      }

      &>.meta {
        position: absolute;
        right: 10px;
        bottom: 10px;
      }

      &>.vote-buttons {
        position: absolute;
        right: 10px;
        top: 10px;

        &>.votes {
          display: block;
          line-height: 30px;
          text-align: center;
          font-size: 24px;
        }
        .up, .down {
          display: block;
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
        }
        .up {
          border-bottom: 20px solid #8fbc8f;
        }
        .down {
          border-top: 20px solid #cd5c5c;
        }
      }
    }

  }

}

.clearfix {
  clear: both;
}