@import url(http://fonts.googleapis.com/css?family=PT+Sans:700);
#fatureVotingBackdropLayer {
  top: 0px;
  left: 0px;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.20);
}
#featureVotingFeaturesModal {
  position: absolute;
  width: 96%;
  max-width: 620px;
  left: 30%;
  top: 10%;
  z-index: 1000;
  height: 60%;
  background-color: white;
  box-shadow: 0 1px 1px #eee;
  border: 2px solid #edf0f4;


  #featureVotingNavbar {
    width: 100%;
    height: 10%;
    background-color: #edf0f4;
    position: relative;

    .featureVotingNavbarContent {
     position: absolute;
     bottom: 0px;
    }

    .link{
      background-color: #fbfbfc;
      padding: 5px 10px 5px 10px;
      box-shadow: 0px -1px 1px #eee;
      position: relative;
      display: inline-block;
      float: left;
      margin-left: 10px;
      font-family: 'PT Sans', sans-serif;
      border-bottom: 2px solid #edf0f4;
      &.active{
        background-color: white;
        border-bottom: 2px solid white;
      }
    }

    a {
      color: #85898b;
      text-decoration: none;
      &:hover{

      }
      &:visited{
        font-family: 'PT Sans', sans-serif;
      }
    }
  }

  .featureVotingCloseButton {
    width: 41px;
    height: 43px;
    background: url('/assets/modal-close-button.png');
    position: absolute;
    z-index: 2000;
    right: -20px;
    top: -20px;
  }
  #featureVotingFeaturesModalContent{
    clear: both;
    height: 90%;
    width: 100%;
    overflow-x: hidden;
    overflow-Y: scroll;
    position: relative;
  }
  ol.feature-container {
    padding-left: 0px;
    margin: 10px 0px 0px 5px;

    @mixin liStructure {
      h1 {
        font-family: 'PT Sans', sans-serif;
        color: #85898b;
        max-width: 520px;
        margin: 0;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        font-size: 25px;
        left: 60px;
        top: 5px;
        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .desc {
        max-width: 500px;
        position: absolute;
        left: 0px;
        top: 90px;
      }

      .meta {
        position: absolute;
        color: grey;
        left: 60px;
        top: 40px;
      }

      .vote-buttons {
        position: absolute;
        left: 10px;
        top: 10px;

        .votes {
          display: block;
          line-height: 30px;
          text-align: center;
          font-size: 24px;
        }
        .up, .down {
          display: block;
          width: 0;
          height: 0;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-radius: 3px;
          cursor: pointer;
        }
        .up {
          border-bottom: 16px solid gray;
        }
        .up.active {
          border-bottom: 16px solid #fe7a15;
        }
        .down {
          border-top: 16px solid gray;
        }
        .down.active {
          border-top: 16px solid #fe7a15;
        }
      }
    }

    li.featureView {
      // Create a special style for this view, not just reuse
      float: left;
      position: relative;
      display: inline-block;
      overflow: hidden;
      text-align: left;

      height: 300px;
      margin-bottom: 10px;

      padding: 10px 10px 10px 0px;
      border-bottom: 1px solid #a9a9a9;
      width: 100%;
      max-width: 580px;
      min-width: 300px;
      @include liStructure;
    }

    li.feature {
      float: left;
      position: relative;
      display: inline-block;
      overflow: hidden;
      text-align: left;
      background-color: #fbfbfc;
      border-radius: 10px;
      box-shadow: 0 1px 1px #eee;
      height: 60px;
      margin-bottom: 10px;

      padding: 10px 10px 10px 0px;
      width: 100%;
      max-width: 580px;
      min-width: 300px;
      @include liStructure;

    }
  }


}

.clearfix {
  clear: both;
}