body.applications.show
  .icon
    height: 150px
    width: 150px
    display: inline-block
    float: left
    border-radius: 5px
    margin: 10px
    &.mailbox
      background: url('/feedback-postbox.png') center center
      background-repeat: no-repeat
      background-size: contain
      &.selected
        background: $lime url('/feedback-postbox.png') center center
        background-size: contain
        background-repeat: no-repeat
    &.triangle
      background: url('/blue.png') center center
      background-repeat: no-repeat
      background-size: 100px 100px
      &.selected
        background: $lime url('/blue.png') center center
        background-repeat: no-repeat
        background-size: 100px 100px
    &:hover
      cursor: pointer
  #application-code
    visibility: visible
    opacity: 1
    transition: opacity 1s
    -webkit-transition: opacity 1s
    -moz-transition: opacity 1s
    -o-transition: opacity 1s
    &.invisible
      visibility: hidden
      opacity: 0
      transition: opacity 1s
      -webkit-transition: opacity 1s
      -moz-transition: opacity 1s
      -o-transition: opacity 1s



