body.applications.show
  label
    width: 100%
    padding: 0px 20px 0px 20px
    cursor: pointer
    &.selected
      background-color: $creme
  .icon
    height: 50px
    width: 50px
    display: inline-block
    float: left
    border-radius: 5px
    margin: 10px
    &.mailbox
      background: url('/feedback-postbox.png') center center
      background-repeat: no-repeat
      background-size: contain
    &.triangle
      background: url('/blue.png') center center
      background-repeat: no-repeat
      background-size: contain
  #application-code
    visibility: visible
    opacity: 1
    transition: opacity 1s
    -webkit-transition: opacity 1s
    -moz-transition: opacity 1s
    -o-transition: opacity 1s
    &.invisible
      visibility: hidden
      opacity: 0
      transition: opacity 1s
      -webkit-transition: opacity 1s
      -moz-transition: opacity 1s
      -o-transition: opacity 1s



