.sessions.new, .sessions.create, .customers.new, .customers.create, .password_resets {

  background: image-url('background-img.jpg') no-repeat center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;

  .center-box {
    position: relative;
    margin: 0px auto;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.50);
    margin-top: 10%;
    padding: 10px;
    border-radius: 10px;

    a {
      color: $menu-badge;
    }
    h1 {
      color: #555;
      text-shadow: 1px 1px 1px #888;
      font-weight: bold;
    }

    input[type=text], input[type=password], input[type=email]{
      line-height: 20px;
      width: 80%;
      padding: 2px 5px;
      height: 40px;
      border: 2px solid #9dce2c;
      border-left: 0px;
      float: left;
      display: inline-block;
    }

    input[type=submit]{
      display: inline-block;
      float: right;
      -moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
      -webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
      box-shadow:inset 0px 1px 0px 0px #c1ed9c;
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
      background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
      background-color:#9dce2c;
      text-indent:0;
      border:1px solid #83c41a;
      display:inline-block;
      color:#ffffff;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      font-style:normal;
      text-decoration:none;
      padding: 10px 15px;
      text-align:center;
      text-shadow:1px 1px 0px #689324;

    &:hover {
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
      background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
      background-color:#8cb82b;
    }
    &:active {
       position:relative;
       top:1px;
     }
    }

    .field{
      clear: both;
      display: inline-block;
      width: 300px;
      label{
        font-size: 20px;
        width: 20%;
        height: 40px;
        background-color: #eee;
        border: 2px solid #9dce2c;
        border-right: 0px;
        display: inline-block;
        float: left;
        padding-top: 5px;
      }

      .field_with_errors{
        input[type=text],input[type=email], input[type=password] {
          border-left: 2px solid;
          border-color: red;
        }
      }
    }

    .notice{
      text-align: left;
      padding: 10px;
      display: block;
      border: 2px solid red;
      background-color: #940000;
      color: red;
      width: 300px;
      margin: 0px auto;
      margin-bottom: 10px;
      &.green {
        background-color: green;
        border: darken(green, 60%);
        color: lighten(green, 60%)
      }
    }
  }

  .center-box.error{

    .field{
      label{
        border-color: red;
      }
      input[type=text],input[type=email], input[type=password] {
        border-color: red;
      }
    }
  }
}

