.sessions.new, .sessions.create, .customers.new, .customers.create, .password_resets, .sessions.popup_new, .sessions.popup_create
  font-size: 14px

  p
    color: grey

  .white-box
    @media (min-width: 620px)
      @include vertical-align
    max-width: 400px
    background: white
    margin: auto
    //margin-top: 50px
    padding: 10px 30px

  .field
    display: block

  .notice
    border: 1px solid $red
    padding: 20px
    border-radius: 5px
    background: #ffb6b6
    &.green
      border: 1px solid $green
      background: #a5ff93

  h1
    font-size: 20px
    font-weight: bolder

  .info-box
    @include info-box
    font-weight: 500
    margin: 2px 0
    clear: both
    a
      font-weight: 700

  input[type=password],input[type=text], input[type=email]
    @include input
    display: block
    width: 100%

  input[type=submit]
    @include button-big
    width: 100%
    display: block
    margin-top: 20px
    margin-bottom: 20px
    font-size: 18px

  .field_with_errors
    input[type=password], input[type=text], input[type=email]
      border-color: red

  label
    font-size: 15px
    display: block
    font-weight: 300
    margin: 20px 0 2px 0
    clear: both

  @media (max-width: 620px)
    background-color: white
    #logo
      display: none

.sessions.popup_new, .sessions.popup_create
  .info-box
    display: none
