@mixin label
  font-size: 26px
  display: block
  font-weight: 300
  margin: 0px 0px 5px 0px

@mixin button-big
  outline: none
  border-radius: 100px
  color: $button-text
  border: 0px
  background: $button-main
  padding: 20px 30px
  text-transform: uppercase
  font-weight: 700
  margin-top: 15px
  font-size: 12px
  &:hover
    background: $button-hover
  &:active
    margin-top: 17px
  
@mixin button
  width: 50px

@mixin input
  outline: none
  box-sizing: border-box
  -moz-box-sizing: border-box
  height: 55px
  font-size: 20px
  font-style: italic
  border: 1px solid $form-border
  border-radius: 30px
  padding: 0px 30px
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2)
  &:hover
    background-color: $form-hover
  &:focus
    background-color: $form-focus

@mixin button-new
  background: $button-new image-url('dashboard/new.png') no-repeat left center
  display: inline-block
  height: 40px
  padding: 10px 25px 0px 75px
  border-radius: 50px
  border: 0px
  text-transform: uppercase
  color: white
  font-weight: 700
  &:hover
    text-decoration: none

@mixin textarea
  @include input
  resize: vertical
  padding: 20px 30px
  margin-top: 15px
  height: 80px

@mixin idea-padding
  padding: 0px 15px

@mixin icon($y)
  background: image-url('widget/icons.png') no-repeat 0 $y
  height: 24px
  width: 24px
  &:hover
    background-position: -24px $y
    cursor: pointer
@mixin thumb($y)
  background: image-url('widget/thumbs.png') no-repeat 0 $y
  &:hover
    background-position: -25px $y
    cursor: pointer

@mixin comment-icon($y)
  background: image-url('widget/comment-icons.png') no-repeat 0 $y
  &:hover
    background-position: -14px $y
    cursor: pointer

@mixin box
  background-color: $white
  border-radius: 3px
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2)
  @include clearfix

@mixin info-box
  background-color: $info-box-background
  padding: 15px
  border-radius: 5px
