a.back
  @include back-button
  position: relative
  display: block
  float: left
  left: 15px
  margin-bottom: 40px

.idea-layout
  // Needed for not making back-button end behind the idea
  // i Firefox on osX
  margin-top: 90px

#manage-ideas
  // This is where we can override stuff specific to backoffice from shared/ideas

  .ideas-navigate
    a
      font-size: 30px
      color: $button-main
      padding: 10px 50px 20px 0px
      display: inline-block
      &:hover
        text-decoration: none
      &.active
        color: $black
