a.back
  font-size: 18px
  float: right

#manage-ideas
  // This is where we can override stuff specific to backoffice from shared/ideas

  .ideas-navigate
    a
      font-size: 30px
      color: $button-main
      padding: 10px 50px 20px 0px
      display: inline-block
      &:hover
        text-decoration: none
      &.active
        color: $black
