.application_form
  .row
    .col-lg-5
      - if @application.errors.any?
        .alert.alert-danger
          %p
            %strong
              Unfortunately some errors prevented you from creating the project:
          %ul
            - @application.errors.full_messages.each do |msg|
              %li= msg
  .row
    .col-lg-5
      %h2 Name and intro
      %label(for="application_name") Name
      %input#application_name(type="text" placeholder="Project name (ie your website name)" ng-model="application.name")
      %label(for="application_intro") Introduction
      %textarea#application_intro(ng-model="application.intro")

  .row
    .col-lg-5
      %h2 Support
      .checkbox
        %label(for="application_support")
          %input#application_support(type="checkbox" ng-model="application.support")
          Enable Support (shows a flag in the widget)
      %input(type="text" ng-model="application.support_email" placeholder="default: #{@application.support_emails}" ng-hide="thirdPartySupport")
      .checkbox
        %label
          %input(type="checkbox" ng-model="application.third_party_support")
          Trigger my existing support service
        %p
          When clicked it will trigger window.simplyBetterSupportClick(), so make sure you implement this function and make it trigger whatever you want it to trigger on your site. You can read more about this
          %a(ng-click="supportHelp = true") here

      .read-more(ng-click="supportHelp = !supportHelp" ng-class="{active: supportHelp}")
        .arrow

    .col-lg-7
      .help-button-padding(ng-show="supportHelp")
        %h2#support-custom-handle
          Support button
        %p
          When you check the support button. A button will appear on the side of the widget. This button will take users to a form where they can submit support requests.
        %p
          If "Trigger my existing support service" has been checked, you will be able to trigger your own support service by implementing the following javascript function in your code:
        %pre
          %code
            = preserve do
              :escaped
                window.simplyBetterSupportClick = function () {
                  // Trigger my support service
                }
        %p
          This is useful if you use a third party support service, or if you have implemented your own and wish to direct simplybetter users to this service.



  .row
    .col-lg-6
      %h2 Faq
      .checkbox
        %label
          %input(type="checkbox" ng-model="faqs_enabled")
          Enable FAQ
      %button(ng-click="customize.save()") Save
