%h2 Select icon style
%p You can change the icon whenever you want
.box
  .col-xs-12
    = form_for @application, html: { class: 'icon_select' } do |f|
      - @icons.each do |i|
        = f.label "icon_#{i}".to_sym,
          class: selected(@application,i) do
          %table
            %tr
              %td
                = f.radio_button :icon, i
              %td
                .icon{class: i}
