.row
  .col-lg-5
    %h2 Select icon style
    %p
      You can change the icon whenever you want. There is also some
      %a(ng-click="iconHelp = true") optional advanced icon options
    .box.with-form
      .col-xs-12.icon_select
        %table
          %tr
            %td(ng-repeat="icon in application.icons")
              %label(ng-class="{selected: application.icon == icon}" for="application_icon_{{icon}}")
                %input(id="application_icon_{{icon}}" type='radio' name="icon" ng-model="application.icon" ng-value="icon")
                .icon(ng-class="icon")
    %p
      Read more about the "No icon" option
      %a(ng-click="iconHelp = true") here

    .read-more(ng-click="iconHelp = false" ng-class="{active: iconHelp}" ng-show="iconHelp")
      .arrow

  .col-lg-7
    .help-button-padding(ng-show="iconHelp")
      %h2#custom-icon Advanced cutomization of icon (optional)
      %p
        It's really easy to style the icon if you want to.
        You can override the css so you'll have complete control. Below is the current
        styling for the triangle-call-for-action icon. You can override any property by using !important.

      %pre
        %code
          = preserve do
            :escaped
              #simplybetterActivateButton {
                position: fixed;
                right: -75px;
                bottom: -75px;
                height: 150px;
                width: 150px;
                z-index: 2000;
                background: url('/lightbulb_triangle.gif') no-repeat;
                background-size: contain;
                transform:rotate(45deg);
                -ms-transform:rotate(45deg); /* IE 9 */
                -webkit-transform:rotate(45deg); /* Safari and Chrome */

                &:hover{
                  cursor: pointer;
                }
              }

      %h3 Example: Moving the triangle to the left side
      %pre
        %code
          = preserve do
            :escaped
              #simplybetterActivateButton{
                left: -75px !important;
                transform: rotate(135deg) !important;
                -ms-transform: rotate(135deg) !important;
                -webkit-transform: rotate(135deg) !important;
              }

      %h2#no-icon I want to use my own link/icon to trigger simplybetter
      %p
        Select the "no icon" in the icon selector box. Now all you have to do is assign the css class ".simplybetterActivateButton" to any element you want(See example below), and the widget will open on click
      %pre
        %code
          = preserve do
            :escaped
              <button class="simplybetterActivateButton">Ideas?</button>

      %h3 What about the notifications?
      %p
        When "No icon" is selcted, the notifications are hidden by default. If you wish to display them, you can override the css like in the example below
      %pre
        %code
          = preserve do
            :escaped
              .simplybetterActivateButton {
                span {
                  display: fixed !important;
                  // Styling of your choice
                }
              }
