.col-md-3
  .list-group
    = link_to application_new_feature_path(current_application.id), class: 'list-group-item' do
      %i.icon-plus-sign
      Create a new feature request
    = link_to administrate_group_path(current_application.id), class: 'list-group-item' do
      %i.icon-list-alt
      Select features for voting