=render 'shared/navbar'
.col-xs-12
  = link_to 'All', '#all'
  = link_to 'Visible', '#visible'
  = link_to 'Hidden', '#hidden'
.col-xs-12
  #manage-ideas

:javascript
  $(function(){
  SimplyBetterIdeas.Init.start(#{@application.id});
  });

