.applications
  =render 'shared/sidebar'
  .col-md-8#administrate_group
    =render 'shared/alert_success', notice: notice
    .alert.alert-info
      %i.icon-info
      Feature requests that are in the right group is active and will be shown to users.
      You can move requests back and forth by clicking the arrow-buttons.
    .row
      .col-md-6
        .panel.panel-default
          .panel-heading
            %h3.panel-title All features
          .panel-body
            #allFeatures.list-group
              - unless @features.blank?
                - @features.each do |f|
                  = render 'feature_unit', f: f, path: :add_to_group_application_feature_path, method: :post

      .col-md-6
        .panel.panel-default
          .panel-heading
            %h3.panel-title Features for voting
          .panel-body
            #featuresForVoting.list-group
              - unless @feature_group.blank?
                - @feature_group.each do |f|
                  = render 'feature_unit', f: f, path: :remove_from_group_application_feature_path, method: :delete
