.applications
  =render 'sidebar'
  .col-md-8#administrate_group
    .row
      .alert.alert-info
        %i.icon-info
        Click on features on the left, to add them to the group. Click on features
        in the group to remove them from the group.
    .row
      .col-md-6
        .panel.panel-default
          .panel-heading
            %h3.panel-title All features
          .panel-body
            #allFeatures.list-group
              - unless @features.blank?
                - @features.each do |f|
                  = render 'feature_unit', f: f, path: :add_feature_request_to_group_path, method: :post

      .col-md-6
        .panel.panel-default
          .panel-heading
            %h3.panel-title Features for voting
          .panel-body
            #featuresForVoting.list-group
              - unless @feature_group.blank?
                - @feature_group.each do |f|
                  = render 'feature_unit', f: f, path: :remove_feature_request_from_group_path, method: :delete
