=render 'shared/navbar'
.col-xs-12
  #manage-ideas(ng-controller='backofficeCtrl' ng-init="init('#{@application.id}')")
    %ul
      %li.idea(ng-repeat='idea in ideas' ng-class='{ "completed": idea.completed}')
        %h1 {{ idea.title }}
        {{ idea }}
