=render 'shared/navbar'

.collaborators(ng-controller="CollaboratorsCtrl as collaborator")
  .col-lg-8
    %h3
      Collaborators
  .col-lg-4
    %button(type='submit' ng-click="visible = true")
      Add collaborator
  .col-lg-12
    %table.table
      %tr(ng-repeat="customer in collaborator.list")
        %td.narrow
          %img(ng-src="{{customer.gravatar_url}}")
        %td
          {{ customer.name }}
        %td
          {{ customer.email }}
        %td.narrow
          .icon.delete(ng-hide="customer.is_me" yes-no-prompt="" yes="collaborator.remove(customer)" text="'Are you sure you want to remove ' + customer.name + '?'")


  %modal(visible="visible")
    %h3 New collaborator
    %label Name
    %input(type='text' placeholder='John Doe' ng-model='collaborator.name')
    %label Email Address
    %input(type='email' placeholder='user@domain.com' ng-model='collaborator.email')
    %button(type='submit' ng-click='collaborator.invite()')
      Add collaborator
