=render 'shared/navbar'

%div(ng-controller="InvitesCtrl as invite")
  %h1
    Collaborators
  %table.table
    %tr(ng-repeat="customer in invite.collaborators")
      %td
        %img(ng-src="{{customer.gravatar_url}}")
      %td
        {{ customer.name }}
      %td
        {{ customer.email }}

  %button(ng-click="visible = true")
    Add collaborator

  %modal(visible="visible")
    %h1 New collaborator
    %label Email Address
    %input(type='email' placeholder='user@domain.com' ng-model='invite.email')
    %input(type='text' placeholder='John Doe' ng-model='invite.name')
    %button(ng-click='invite.invite()')
      Add collaborator
