.applications
  =render 'sidebar'
  .col-md-8
    =render 'alert_success', notice: notice
    .row
      .panel.panel-default
        .panel-heading Edit feature request!
        .panel-body
          = render 'form', action: :update_feature
