- content_for :navigation do
  .col-xs-12
    .links
      %h3
        Applications
      - unless @applications.blank?
        - @applications.each do |a|
          =link_to administrate_group_application_path(a.id) do
            .row
              .col-xs-10.name
                =a.name
              .col-xs-2.info
                %span.badge.pull-right
                  =a.ideas.count
      - else
        You have not created any applications yet

.col-md-12
  =render 'shared/alert_success', notice: notice
.col-md-12
  .panel.panel-success
    .panel-heading
      %h3.panel-title
        Create a new application!
    .panel-body
      = form_for @application,html: {class: "form-horizontal", role: "form"} do |f|
        - if @application.errors.any?
          .alert.alert-danger
            %p
              %strong
                Unfortunately some errors prevented you from creating the application:
            %ul
              - @application.errors.full_messages.each do |msg|
                %li= msg
        .form-group
          %label.col-md-4.control-label New application name
          .col-md-8
            = f.text_field :name, class: 'form-control'
        .form-group
          .col-md-offset-4.col-md-8
            = f.button 'Create application', class: 'btn btn-default'

