%row
  .col-md-6
    .panel.panel-primary
      .panel-heading
        %h3.panel-title
          Choose to administrate one of your applications!
      - unless @applications.blank?
        .list-group
          - @applications.each do |a|
            =link_to application_administrate_path(a.id), class: 'list-group-item' do
              =a.name
              %span.badge.pull-right
                =a.features.count
      - else
        .panel-body
          .alert.alert-info
            You have not created any applications yet


