=render 'shared/navbar'
.col-lg-12
  = render 'shared/alert_success'
#customize.col-lg-12
  = render 'application/select_icon'
  = render 'application/form'

.col-lg-12
  .divider
  = render 'application/advanced_customization'
