.applications
  =render 'shared/sidebar'

.col-md-8
  %h1
    How to set up the client application code
  %ul
    %li
      First you have to copy the snippet below and paste it anywhere inside your &lt;body&gt; tag.
    %li
      When this is done, you have to replace "INSERT EMAIL HERE" with the signed in user's email address.
      In a rails app this would typically be \#{current_user.email}. Do the same with the users name or nickname!
  %textarea.col-md-12{rows: 10}
    <script>
    var _smplyBtr = _smplyBtr || {};
    _smplyBtr.email = "<INSERT EMAIL HERE>";
    _smplyBtr.name = "<INSERT NAME HERE>" ;

    _smplyBtr.appKey = "#{@application.token}";
    (function() {
    var sb = document.createElement('script'); sb.type = 'text/javascript'; sb.async = true; sb.src = 'http://simplybetter.io/assets/widget/widget-client.js.erb'; var s = document.getElementsByTagName('body')[0]; s.appendChild(sb);
    })();
    </script>
