=render 'shared/navbar'
.col-lg-12
  = render 'shared/alert_success'
  = render 'application/instalation_instructions'

  .row
    .col-lg-4
      = render 'application/select_icon'
    .col-lg-12
      = render 'application/advanced_customization'
