.applications
  =render 'shared/sidebar'
  .col-md-8
    =render 'shared/alert_success', notice: notice
    .row
      .panel.panel-default
        .panel-heading Edit feature request!
        .panel-body
          = render 'form'
