.applications
  =render 'shared/sidebar'
  .col-md-8
    =render 'shared/alert_success', notice: notice
    .panel.panel-default
      .panel-heading Create a new feature request!
      .panel-body
        =render 'form'
