!!!
%html
  %head
    %meta{content: 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    %meta{content: 'user-scalable=no, initial-scale=1', name: 'viewport'}
    %meta{content: 'telephone=no', name: 'format-detection'}
    %title SimplyBetter
    = stylesheet_link_tag    'landing_page', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'landing', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body(ng-app='landingPage')
    .container(ng-init='scroll = 0')
      %span(scroll-position='scroll')
      %header
        .header-content
          .logoBox
            %img.logo{alt: 'Simply Better', src: 'img/logo.png'}
            %img.sLogo{alt: 'Simply Better', src: 'img/sLogo.png'}
          .contactBox
            %ul
              %li
                %a{href: '#what', title: 'About'} About
              %li
                %a{href: '#why', title: 'Features'} Features
              %li
                %a{href: '#price', title: 'Price'} Price
              %li
                %a{href: '#contact', title: 'Contact'} Contact
              %li.divider-list
                %a{href: '', title: 'SIGN IN'} SIGN IN
              %li.last
                %a.contact{href: '#', title: 'GET SIMPLY BETTER'} GET SIMPLY BETTER
          .clear
      = yield
