!!!
%html
  %head
    %title SimplyBetter
    = stylesheet_link_tag    'landing_page', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'landing_page', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
  %body
    = yield
